@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poppins', sans-serif;
}
img { width: 100%; }
.square-img {
    object-fit: cover;
    width: 125px;
    height: 125px;
}

.container { width: 80vw; }

/* header */
header a { color: white; }
#header-breakie { font-size: 18px; }
.navbar { 
    align-content: center !important;
    align-items: center;
    background-color: #FF8E3C; 
}
header {
    position: fixed;
    width: 100vw;
    z-index: 1;
    box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
}
.navbar-right { float: right; }
.navbar-right > a { padding: 5px; }
#drop-down-header:hover { cursor: pointer; }

/* overwrite bootstrap tabs */
.nav-tabs .nav-link { 
    border: none !important; 
    color: #D1CECF; 
}
.nav-tabs { border-bottom: none !important; }
.nav-link.active { color: #FF8E3C !important; }
.tab-content { width: 80vw !important; }
.navbar-right > ul, ol, ul { margin-bottom: 0rem !important; }
.navbar-right > .btn-group > p{  margin-bottom: 0rem !important; }
#header-breakie, a { text-decoration: none !important; }
#header-breakie:hover, a:hover { color: #D9376E; }
.align-x {
    display: flex;
    align-items: center;
}
/* testing */
.red { background-color: red; }
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.cell {
    color: #EEEEEE;;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(269.65deg, #EA7070 0.37%, #FF9A3C 99.61%), #FF8E3C;    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 5px;
}

.cell-address, .cell-distance, .cell-price { margin: 0; }
.cell-img { height: 20vh; }
.cell-title { font-size: 1.5rem; }
.cell-address { font-size: 1.2rem; }
.cell-distance { font-size: .9rem; }
.cell-price { 
    font-size: 1.25rem; 
    font-weight: bold;
}
.white-text { color: white; }
.orange-text { color: #FF8E3C; }
.purple-text { color: #D9376E; }
.grey-text { color: #948484; }
.medium-text { font-weight: 500; }
.center-text { text-align: center; }
.bold { font-weight: bold; }

/* margins */
.margin-top-20 { margin-top: 20px; }
.margin-top-neg { margin-top: -10px; }
.margin-top-10 { margin-top: 10px; }
.width-50 { width: 50vw; }
.height-80 { height: 260px; }
.height-60 { height: 210px; }
.width-80 { width: 60vw; }
.pt-7 {  padding-top: 60px; }

/* display styles */
.rtl { direction: rtl; }
.display-inline { display: inline !important; }
.display-inline-block { display: inline-block; }
.display-block { display: block; }
.display-flex { 
    display: flex;
    justify-content: space-around ;
}
.align-center {
    display: flex;
    align-items: center;
}
.justify-content {
    display: flex;
    justify-content: center;
}
.absolute-right {
    overflow: hidden;
    height: 100vh;
    right: 0px;
}

/* buttons */
.btn-border-gradient { border-color:#FF0000; }
.btn-original {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #EEEEEE;
    border-radius: 20px;
    color: #FF0000;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.position-bottom {
    position: relative;
    bottom: -20px;
}
.btn-gradient {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: repeating-radial-gradient(#EA7070 0.37%, #F48556 49.99%, #FF9A3C 99.61%), #FF8E3C;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;    
    color: #EEEEEE;
    font-weight: 500;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-color: transparent;
    margin: auto;
    border: 1px solid none;
}
.btn-delete { border-radius: 10px !important; }
.btn-original:hover { background-color: rgb(228, 218, 218); }
.btn-gradient:hover { background: repeating-radial-gradient(#EA7070 0.37%, #C74B4B 0.37%, #F29641 99.61%), #FF8E3C; }
.btn-width { width: 100px; }
/* forms */
/* input { 
    border-radius: 10px;
    text-align: center;
    background-color: #ECD2BF;
    border-color: #D9376E;
    color: #D9376E;
} */

/* show page */
.show-cal-price span:nth-child(2n) { padding: 5px; }
.top-right {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #d8d5d6;
}

/* order page */
.grey-border {
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}
#imageInput { width: 100%; }
input[type="file"] { display: none; }

/* maps */
#map {
    height: 100vh;  /* The height is 400 pixels */
    width: 33vw;
    background-color: red;
}

#show-map {
    height: 100%;
    width: 100%;
    background-color: red;
}

.mapContainer { 
    position: fixed;
    right: 0px;
    top: 30px;
}

#indi-breakie-map {
    width: 100%;
    height: 30vh;
    background-color: red;
}

/* algolia */
.aa-input-container {
    display: inline-block;
    position: relative;
}
  .aa-input-search {
    width: 200px;
    padding: 5px 28px 5px 12px;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 10px;
    color: orange;
    outline: none;
}
.aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button,
.aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
display: none;
}
.aa-input-icon {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 50%;
    right: 16px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    fill: #e4e4e4;
    pointer-events: none;
}
.aa-dropdown-menu {
    background-color: #fff;
    border: 1px solid rgba(228, 228, 228, 0.6);
    min-width: 300px;
    margin-top: 10px;
    box-sizing: border-box;
    color: orange;
}
.aa-suggestion {
    padding: 6px 12px;
    cursor: pointer;
}
.aa-suggestion + .aa-suggestion {
    border-top: 1px solid rgba(228, 228, 228, 0.6);
}
.aa-suggestions-category {
    border-bottom: 1px solid rgba(228, 228, 228, 0.6);
    border-top: 1px solid rgba(228, 228, 228, 0.6);
    padding: 6px 12px;
}

@media screen and (max-width: 700px) {
    .width-50 {  width: 80vw; }
    #map { display: none; }
    .grid { grid-template-columns: repeat(2, 1fr); }
    .grid-4 { grid-template-columns: repeat(2, 1fr); }
    .top-right { display: none; }
}